<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.modules.sys.mapper.SysCodeInfoMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysCodeInfo">
        select
        a.code_info_id as codeInfoId,
        a.code_type_id as codeTypeId,
        a.value as value,
        a.content as content,
        a.parent_value as parentValue,
        a.sort_no as sortNo,
        a.remark as remark,
        a.is_ok as isOk

        from t_sys_code_info a
        where 1=1
        <if test="entity.codeTypeId != null and entity.codeTypeId !=''">
            <![CDATA[	AND a.code_type_id = #{entity.codeTypeId}	]]>
        </if>
        <if test="entity.value != null and entity.value !=''">
            <![CDATA[	AND a.value = #{entity.value}	]]>
        </if>
        <if test="entity.content != null and entity.content !=''">
            <![CDATA[	AND a.content = #{entity.content}	]]>
        </if>
        order by a.sort_no
    </select>
</mapper>
