<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.modules.sys.mapper.SysJobMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysJob">
        select
        a.job_id as jobId,
        a.job_name as jobName,
        a.job_group as jobGroup,
        a.invoke_target as invokeTarget,
        a.cron_expression as cronExpression,
        a.misfire_policy as misfirePolicy,
        a.concurrent as concurrent,
        a.status as status,
        a.remark as remark

        from t_sys_job a
        where 1=1
        <if test="entity.jobName != null and entity.jobName !=''">
            <![CDATA[	AND a.job_name = #{entity.jobName}	]]>
        </if>
        <if test="entity.jobGroup != null and entity.jobGroup !=''">
            <![CDATA[	AND a.job_group = #{entity.jobGroup}	]]>
        </if>
        <if test="entity.misfirePolicy != null and entity.misfirePolicy !=''">
            <![CDATA[	AND a.misfire_policy = #{entity.misfirePolicy}	]]>
        </if>
        <if test="entity.concurrent != null and entity.concurrent !=''">
            <![CDATA[	AND a.concurrent = #{entity.concurrent}	]]>
        </if>
        <if test="entity.status != null and entity.status !=''">
            <![CDATA[	AND a.status = #{entity.status}	]]>
        </if>
        order by a.create_time desc
    </select>
</mapper>
