<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.modules.sys.mapper.SysPostUserMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysPostUser">
        select a.post_user_id as postUserId,
               a.post_id      as postId,
               a.user_id      as userId,
               a.create_by    as createBy,
               a.create_date  as createDate,
               a.create_time  as createTime,
               a.update_by    as updateBy,
               a.update_date  as updateDate,
               a.update_time  as updateTime

        from t_sys_post_user a
        where 1 = 1
        order by a.post_user_id
    </select>
</mapper>
