<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysBalanceMainMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysBalanceMain">
        select
        a.balance_main_id as balanceMainId,
        a.account as account,
        a.account_date as accountDate,
        a.user_id as userId,
        a.remark as remark,
        a.delete_type as deleteType,
        o.user_name as userName

        from t_sys_balance_main a
        left join t_sys_user o ON o.user_id=a.user_id
        where a.delete_type=0
        <if test="entity.accountDate != null">
            <![CDATA[	AND a.account_date = #{entity.accountDate}]]>
        </if>
        <if test="entity.userId != null">
            <![CDATA[	AND a.user_id = #{entity.userId}]]>
        </if>
        order by a.account_date desc
    </select>
</mapper>
