<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysOrgMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysOrg">
        select
        o.org_id as orgId,
        o.org_name as orgName,
        o.parent_org_id as parentOrgId,
        o.short_name as shortName,
        o.org_type as orgType,
        o.org_level as orgLevel,
        o.org_level_code as orgLevelCode,
        o.remark as remark,
        o.is_leaf as isLeaf,
        po.org_name as parentOrgName

        from t_sys_org o
        left join t_sys_org po on o.parent_org_id = po.org_id
        where 1=1
        <if test="entity.parentOrgId != null and entity.parentOrgId !=''">
            <![CDATA[	AND o.parent_org_id = #{entity.parentOrgId}	]]>
        </if>
        <if test="entity.authFilterSql != null and entity.authFilterSql !=''">
            <![CDATA[	AND ${entity.authFilterSql}	]]>
        </if>
        order by o.org_level_code
    </select>
</mapper>
