<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysRoleMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysRole">
        select
        a.role_id as roleId,
        a.role_name as roleName,
        a.sort_no as sortNo,
        a.remark as remark

        from t_sys_role a
        where 1=1
        <if test="entity.roleId != null and entity.roleId !=''">
            <![CDATA[	AND a.role_id = #{entity.roleId}	]]>
        </if>
        <if test="entity.roleName != null and entity.roleName !=''">
            <![CDATA[	AND a.role_name = #{entity.roleName}	]]>
        </if>
        order by a.sort_no
    </select>

    <select id="listMenuOrFuncIdsByRoleId" resultType="java.lang.String">
        select a.menu_or_func_id as menuOrFuncId
        from t_sys_role_permission a
        where a.role_id = #{roleId}
    </select>
    <select id="getRoleUser" resultType="com.monezhao.bean.sys.SysUser">
        select
        a.user_id as userId,
        a.user_name as userName,
        a.org_id as orgId,
        o.org_name as orgName
        from t_sys_user a
        join t_sys_org o ON o.org_id=a.org_id
        join t_sys_role_user ru on ru.user_id=a.user_id
        where 1=1
        <if test="entity.roleId != null and entity.roleId !=''">
            <![CDATA[	AND ru.role_id = #{entity.roleId}	]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}	]]>
        </if>
        <if test="entity.userName != null and entity.userName !=''">
            <![CDATA[	AND a.user_name = #{entity.userName}	]]>
        </if>
        <if test="entity.authFilterSql != null and entity.authFilterSql !=''">
            <![CDATA[	AND ${entity.authFilterSql}	]]>
        </if>
    </select>
</mapper>
