<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysRolePermissionMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysRolePermission">
        select a.role_permission_id as rolePermissionId,
               a.role_id            as roleId,
               a.permission_type    as permissionType,
               a.menu_or_func_id    as menuOrFuncId

        from t_sys_role_permission a
        where 1 = 1
        order by a.role_permission_id
    </select>
</mapper>
