<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.modules.main.mapper.SysCodeCreateMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysCodeCreate">
        select
        a.code_create_id as codeCreateId,
        a.code_create_tablename as codeCreateTablename,
        a.code_create_module as codeCreateModule,
        a.code_create_filename as codeCreateFilename

        from t_sys_code_create a
        where 1=1
        <if test="entity.codeCreateTablename != null and entity.codeCreateTablename !=''">
            <![CDATA[    AND a.code_create_tablename = #{entity.codeCreateTablename}    ]]>
        </if>
        <if test="entity.codeCreateModule != null and entity.codeCreateModule !=''">
            <![CDATA[    AND a.code_create_module = #{entity.codeCreateModule}    ]]>
        </if>
        <if test="entity.codeCreateFilename != null and entity.codeCreateFilename !=''">
            <![CDATA[    AND a.code_create_filename = #{entity.codeCreateFilename}    ]]>
        </if>
        order by a.code_create_id
    </select>
</mapper>
