<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysPostMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysPost">
        select
        a.post_id as postId,
        a.post_name as postName,
        a.sort_no as sortNo,
        a.remark as remark,
        a.create_by as createBy,
        a.create_date as createDate,
        a.create_time as createTime,
        a.update_by as updateBy,
        a.update_date as updateDate,
        a.update_time as updateTime

        from t_sys_post a
        where 1=1
        <if test="entity.postId != null and entity.postId !=''">
            <![CDATA[	AND a.post_id = #{entity.postId}	]]>
        </if>
        <if test="entity.postName != null and entity.postName !=''">
            <![CDATA[	AND a.post_name = #{entity.postName}	]]>
        </if>
        order by a.sort_no
    </select>

    <select id="getPostUser" resultType="com.monezhao.bean.sys.SysUser">
        select
        a.user_id as userId,
        a.user_name as userName,
        a.org_id as orgId,
        o.org_name as orgName
        from t_sys_user a
        join t_sys_org o ON o.org_id=a.org_id
        join t_sys_post_user pu on pu.user_id=a.user_id
        where 1=1
        <if test="entity.postId != null and entity.postId !=''">
            <![CDATA[	AND pu.post_id = #{entity.postId}	]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}	]]>
        </if>
        <if test="entity.userName != null and entity.userName !=''">
            <![CDATA[	AND a.USER_NAME = #{entity.userName}	]]>
        </if>
        <if test="entity.authFilterSql != null and entity.authFilterSql !=''">
            <![CDATA[	AND ${entity.authFilterSql}	]]>
        </if>
    </select>
</mapper>
