<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysUserMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysUser">
        select
        a.user_id as userId,
        a.user_name as userName,
        a.sex as sex,
        a.role_id as roleId,
        a.org_id as orgId,
        a.mobile as mobile,
        a.id_card_no as idCardNo,
        a.email as email,
        a.status as status,
        a.sort_no as sortNo,
        a.remark as remark,
        o.org_name as orgName

        from t_sys_user a
        join t_sys_org o ON o.org_id=a.org_id
        where 1=1
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}	]]>
        </if>
        <if test="entity.userName != null and entity.userName !=''">
            <![CDATA[	AND a.user_name = #{entity.userName}	]]>
        </if>
        <if test="entity.orgId != null and entity.orgId !=''">
            <![CDATA[	AND a.org_id = #{entity.orgId}	]]>
        </if>
        <if test="entity.authFilterSql != null and entity.authFilterSql !=''">
            <![CDATA[	AND ${entity.authFilterSql}	]]>
        </if>
        order by a.sort_no
    </select>

    <select id="getRolesByUserId" resultType="com.monezhao.bean.sys.SysRole">
        select r.role_id   as roleId,
               r.role_name as roleName,
               r.sort_no   as sortNo,
               r.remark    as remark
        from t_sys_role r
                 join t_sys_role_user ru on r.role_id = ru.role_id
        where ru.user_id = #{userId}
    </select>

    <select id="getAdminPermissions" resultType="com.monezhao.bean.utilsVo.SysRolePermissionVO">
        SELECT '1'                AS permissionType,
               M.menu_id          AS menuOrFuncId,
               M.menu_url         AS menuUrl,
               M.menu_permissions AS menuPermissions,
               ''                    funcMenuId,
               ''                    funcPermissions
        FROM t_sys_menu M
        UNION ALL
        SELECT '2'                AS permissionType,
               F.func_id          AS menuOrFuncId,
               ''                 AS menuUrl,
               ''                 AS menuPermissions,
               F.menu_id             funcMenuId,
               F.func_permissions AS funcPermissions
        FROM t_sys_func F
    </select>
    <select id="getRolePermissions" resultType="com.monezhao.bean.utilsVo.SysRolePermissionVO">
        select a.role_permission_id as rolePermissionId,
               a.role_id            as roleId,
               a.permission_type    as permissionType,
               a.menu_or_func_id    as menuOrFuncId,
               m.menu_url           as menuUrl,
               m.menu_permissions   AS menuPermissions,
               f.menu_id               funcMenuId,
               f.func_permissions   AS funcPermissions
        from t_sys_role_permission a
                 left join t_sys_menu m ON m.menu_id = a.menu_or_func_id
                 left join t_sys_func f on f.func_id = a.menu_or_func_id
        where a.role_id = #{roleId}
    </select>
    <select id="getRoleMenus" resultType="com.monezhao.bean.sys.SysMenu">
        select
        distinct
        a.menu_id as menuId,
        a.menu_name as menuName,
        a.parent_menu_id as parentMenuId,
        a.menu_icon as menuIcon,
        a.menu_url as menuUrl,
        a.menu_permissions as menuPermissions,
        a.component as component,
        a.redirect as redirect,
        a.hidden as hidden,
        a.is_route as isRoute,
        a.route_name as routeName,
        a.is_cache as isCache,
        a.affix as affix,
        a.is_leaf as isLeaf,
        a.sort_no as sortNo
        from t_sys_menu a
        left join t_sys_role_permission rp ON a.menu_id=rp.menu_or_func_id
        where 1=1
        <if test="roleId != null and roleId !=''">
            <![CDATA[	AND rp.role_id=#{roleId}	]]>
        </if>
        order by a.sort_no
    </select>

    <select id="findTotalVisitCount" resultType="long">
        select count(1)
        from t_sys_log
        where log_type = '1'
    </select>

    <select id="findTodayVisitCount" resultType="long">
        select count(1)
        from t_sys_log
        where log_type = '1'
          and datediff(create_date, now()) = 0
    </select>

    <select id="findTodayIp" resultType="long">
        select count(distinct (ip))
        from t_sys_log
        where log_type = '1'
          and datediff(create_date, now()) = 0
    </select>

    <select id="findLastSevenDaysVisitCount" resultType="com.monezhao.controller.command.VisitCount"
            parameterType="string">
        select
        date_format(l.create_date, '%m-%d') days,
        count(1) count
        from
        (
        select
        *
        from
        t_sys_log
        where log_type='1' and
        date_sub(curdate(), interval 6 day) &lt;= date(create_date)
        ) as l where 1 = 1
        <if test="username != null and username != ''">
            and l.user_name = #{username}
        </if>
        group by
        days
    </select>
    <select id="listMenuByRoleId" resultType="com.monezhao.bean.sys.SysMenu">
        SELECT m.*
        FROM t_sys_role_permission rp
                 LEFT JOIN t_sys_menu m
                           ON m.menu_id = rp.menu_or_func_id
        WHERE rp.role_id = #{roleId}
          AND rp.permission_type = 1
        order by m.sort_no
    </select>
    <select id="listPermissionsByUserId" resultType="java.lang.String">
        SELECT a.menu_id
        FROM t_sys_user_short_cut a
        WHERE a.user_id = #{userId}
    </select>
</mapper>
