<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.module.sys.mapper.SysFuncMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysFunc">
        select
        a.func_id as funcId,
        a.func_name as funcName,
        a.menu_id as menuId,
        a.func_permissions as funcPermissions,
        a.remark as remark,
        a.sort_no as sortNo

        from t_sys_func a
        where 1=1
        <if test="entity.menuId != null and entity.menuId !=''">
            <![CDATA[	AND a.menu_id=#{entity.menuId}	]]>
        </if>
        order by a.sort_no
    </select>
</mapper>
