<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.module.sys.mapper.SysLogMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysLog">
        select
        a.log_id as logId,
        a.log_type as logType,
        a.log_content as logContent,
        a.operate_type as operateType,
        a.user_id as userId,
        a.user_name as userName,
        a.ip as ip,
        a.method as method,
        a.request_url as requestUrl,
        a.request_param as requestParam,
        a.request_type as requestType,
        a.operate_result as operateResult,
        a.cost_time as costTime,
        a.create_time as createTime

        from t_sys_log a
        where 1=1
        <if test="entity.logType != null and entity.logType !=''">
            <![CDATA[    AND a.log_type = #{entity.logType}    ]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[    AND a.user_id = #{entity.userId}    ]]>
        </if>
        <if test="entity.userName != null and entity.userName !=''">
            <![CDATA[    AND a.user_name = #{entity.userName}    ]]>
        </if>
        <if test="entity.ip != null and entity.ip !=''">
            <![CDATA[    AND a.ip = #{entity.ip}    ]]>
        </if>
        order by a.create_time desc
    </select>
</mapper>
