<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysBalanceCountMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysBalanceCount">
        SELECT
        a.balance_count_id AS balanceCountId,
        b.code_info_id AS codeInfoId,
        IFNULL(a.count_type, "1") AS countType,
        a.user_id AS userId,
        b.remark AS remark,
        b.content AS content
        FROM
        t_sys_code_info b
        LEFT JOIN t_sys_balance_count a ON b.code_info_id = a.code_info_id AND a.user_id = #{entity.userId}
        WHERE
        1 = 1
        AND b.code_type_id = 'balanceType'
        AND b.is_ok = '1'
        <if test="entity.codeInfoId != null and entity.codeInfoId !=''">
            <![CDATA[    AND b.code_info_id = #{entity.codeInfoId}    ]]>
        </if>
        <if test='entity.countType != null and entity.countType == "0"'>
            <![CDATA[    AND a.count_type = #{entity.countType}    ]]>
        </if>
        <if test='entity.countType != null and entity.countType == "1"'>
            <![CDATA[    AND (a.count_type is null or a.count_type = #{entity.countType})     ]]>
        </if>
        ORDER BY
        b.sort_no
    </select>
</mapper>
