<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysBalanceDetailMapper">
    <delete id="deleteDetailIds">
        delete
        from t_sys_balance_detail a
        where a.balance_detail_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysBalanceDetail">
        select
        a.balance_detail_id as balanceDetailId,
        a.account as account,
        a.balance_type as balanceType,
        ci.content as balanceName,
        a.balance_main_id as balanceMainId,
        a.user_id as userId,
        a.delete_type as deleteType,
        a.remark as remark

        from t_sys_balance_detail a
        LEFT JOIN t_sys_code_info ci ON ci.code_type_id = 'balanceType' AND ci.value = a.balance_type
        where a.delete_type=0
        <if test="entity.balanceType != null and entity.balanceType !=''">
            <![CDATA[    AND a.balance_type = #{entity.balanceType}    ]]>
        </if>
        <if test="entity.balanceMainId != null and entity.balanceMainId !=''">
            <![CDATA[    AND a.balance_main_id = #{entity.balanceMainId}    ]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}]]>
        </if>
        order by a.create_time asc
    </select>

    <select id="account" resultType="java.lang.Double">
        select sum(account) account from t_sys_balance_detail a where a.delete_type=0
        <if test="id != null and id !=''">
            <![CDATA[    AND a.balance_main_id = #{id}    ]]>
        </if>
    </select>
    <select id="listExport" resultType="com.monezhao.bean.sys.SysBalanceDetail">
        select
        a.balance_detail_id as balanceDetailId,
        a.account as account,
        a.balance_type as balanceType,
        ci.content as balanceName,
        a.balance_main_id as balanceMainId,
        a.user_id as userId,
        a.delete_type as deleteType,
        a.remark as remark

        from t_sys_balance_detail a
        LEFT JOIN t_sys_code_info ci ON ci.code_type_id = 'balanceType' AND ci.value = a.balance_type
        where a.delete_type=0
        <if test="userId != null and userId !=''">
            <![CDATA[    AND a.user_id = #{userId}    ]]>
        </if>
        AND a.balance_main_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        order by a.create_time desc
    </select>
</mapper>
