<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monezhao.mapper.SysBalanceMainMapper">
    <delete id="deleteMainIds">
        delete
        from t_sys_balance_main a
        where a.balance_main_id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.monezhao.bean.sys.SysBalanceMain">
        select
        a.balance_main_id as balanceMainId,
        a.account as account,
        a.account_date as accountDate,
        a.user_id as userId,
        a.remark as remark,
        a.delete_type as deleteType,
        a.version as version,
        o.user_name as userName

        from t_sys_balance_main a
        left join t_sys_user o ON o.user_id=a.user_id
        where 1=1
        <if test="entity.deleteType != null">
            <![CDATA[	AND a.delete_type = #{entity.deleteType}]]>
        </if>
        <if test="entity.accountDate != null">
            <![CDATA[	AND a.account_date = #{entity.accountDate}]]>
        </if>
        <if test="entity.startDate != null and entity.endDate != null">
            <![CDATA[	AND a.account_date >= #{entity.startDate} and a.account_date < #{entity.endDate} ]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}]]>
        </if>
        <if test='entity.multiData != null and entity.multiData =="0"'>
            <![CDATA[	AND date_format( a.account_date, '%Y-%m' ) NOT IN (
                SELECT
                    c.account_date
                FROM
                    (
                    SELECT
                        b.account_date,
                        COUNT( b.account_date ) count
                    FROM
                        ( SELECT date_format( a.account_date, '%Y-%m' ) account_date FROM `t_sys_balance_main` a ORDER BY a.account_date ) b
                    GROUP BY
                        b.account_date
                    HAVING
                        count >= 2
                    ) c
                )
            ]]>
        </if>
        <if test='entity.multiData != null and entity.multiData =="1"'>
            <![CDATA[	AND date_format( a.account_date, '%Y-%m' ) IN (
                SELECT
                    c.account_date
                FROM
                    (
                    SELECT
                        b.account_date,
                        COUNT( b.account_date ) count
                    FROM
                        ( SELECT date_format( a.account_date, '%Y-%m' ) account_date FROM `t_sys_balance_main` a ORDER BY a.account_date ) b
                    GROUP BY
                        b.account_date
                    HAVING
                        count >= 2
                    ) c
                )
            ]]>
        </if>
        order by a.account_date desc
    </select>
    <update id="restore">
        update t_sys_balance_main a set a.delete_type=0
        where a.delete_type=1
        AND a.balance_main_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
